function LifeGrid.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 256
push this 0
call Math.divide 2
pop this 2
push constant 512
push this 0
call Math.divide 2
pop this 1
push this 1
push this 2
call LifeGrid.initGrid 2
pop this 3
push pointer 0
return
function LifeGrid.dispose 0
push argument 0
pop pointer 0
push this 3
push this 2
call LifeGrid.disposeGrid 2
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function LifeGrid.initGrid 4
push argument 1
call Array.new 1
pop local 3
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push argument 0
call Array.new 1
pop local 2
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push argument 0
lt
not
if-goto WHILE_END1
push local 1
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push local 3
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 3
return
function LifeGrid.disposeGrid 2
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 0
push argument 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
call Array.dispose 1
pop temp 0
push constant 0
return
function LifeGrid.getCellState 2
push argument 0
pop pointer 0
push argument 2
push this 3
add
pop pointer 1
push that 0
pop local 0
push argument 1
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
return
function LifeGrid.getCellSize 0
push argument 0
pop pointer 0
push this 0
return
function LifeGrid.getWidth 0
push argument 0
pop pointer 0
push this 1
return
function LifeGrid.getHeight 0
push argument 0
pop pointer 0
push this 2
return
function LifeGrid.setState 1
push argument 0
pop pointer 0
push argument 2
push this 3
add
pop pointer 1
push that 0
pop local 0
push argument 1
push local 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function LifeGrid.activate 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
push constant 0
not
call LifeGrid.setState 4
pop temp 0
push pointer 0
push argument 1
push argument 2
call LifeGrid.render 3
pop temp 0
push constant 0
return
function LifeGrid.deactivate 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
push constant 0
call LifeGrid.setState 4
pop temp 0
push pointer 0
push argument 1
push argument 2
call LifeGrid.render 3
pop temp 0
push constant 0
return
function LifeGrid.toggle 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call LifeGrid.getCellState 3
pop local 0
push local 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
push argument 2
call LifeGrid.activate 3
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
push argument 1
push argument 2
call LifeGrid.deactivate 3
pop temp 0
label IF_END0
push constant 0
return
function LifeGrid.render 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call LifeGrid.getCellState 3
call Screen.setColor 1
pop temp 0
push argument 1
push this 0
call Math.multiply 2
push argument 2
push this 0
call Math.multiply 2
push argument 1
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
push argument 2
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function LifeGrid.renderGrid 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 1
lt
not
if-goto WHILE_END1
push pointer 0
push local 1
push local 0
call LifeGrid.render 3
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function LifeGrid.setGrid 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 1
lt
not
if-goto WHILE_END1
push pointer 0
push local 1
push local 0
push argument 1
call LifeGrid.setState 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function LifeGrid.setSquare2x2 2
push argument 0
pop pointer 0
push this 2
push constant 2
call Math.divide 2
pop local 1
push this 1
push constant 2
call Math.divide 2
pop local 0
push pointer 0
push local 0
push local 1
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 1
add
push local 1
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 1
add
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push constant 0
return
function LifeGrid.setBlinker 3
push argument 0
pop pointer 0
push this 2
push constant 2
call Math.divide 2
pop local 1
push this 1
push constant 2
call Math.divide 2
pop local 0
push constant 0
pop local 2
push pointer 0
push local 0
push constant 1
sub
push local 1
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push local 1
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 1
add
push local 1
call LifeGrid.activate 3
pop temp 0
push constant 0
return
function LifeGrid.setLine10 3
push argument 0
pop pointer 0
push this 2
push constant 2
call Math.divide 2
pop local 1
push this 1
push constant 2
call Math.divide 2
push constant 5
sub
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 10
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
push local 2
add
push local 1
call LifeGrid.activate 3
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function LifeGrid.setGlider 2
push argument 0
pop pointer 0
push this 2
push constant 2
call Math.divide 2
pop local 1
push this 1
push constant 2
call Math.divide 2
pop local 0
push pointer 0
push local 0
push local 1
push constant 1
sub
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 1
add
push local 1
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 1
sub
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 1
add
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push constant 0
return
function LifeGrid.setExploder 3
push argument 0
pop pointer 0
push this 2
push constant 2
call Math.divide 2
pop local 1
push this 1
push constant 2
call Math.divide 2
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push constant 3
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
push constant 2
sub
push local 1
push local 2
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 2
add
push local 1
push local 2
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 2
sub
push local 1
push local 2
sub
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 2
add
push local 1
push local 2
sub
call LifeGrid.activate 3
pop temp 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push local 0
push local 1
push local 2
add
push constant 1
sub
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push local 1
push local 2
sub
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push constant 0
return
function LifeGrid.setLightweightSpaceship 2
push argument 0
pop pointer 0
push this 2
push constant 2
call Math.divide 2
pop local 1
push this 1
push constant 2
call Math.divide 2
pop local 0
push pointer 0
push local 0
push constant 1
sub
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 1
add
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 2
add
push local 1
push constant 1
add
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 2
sub
push local 1
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 2
add
push local 1
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 2
add
push local 1
push constant 1
sub
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 2
sub
push local 1
push constant 2
sub
call LifeGrid.activate 3
pop temp 0
push pointer 0
push local 0
push constant 1
add
push local 1
push constant 2
sub
call LifeGrid.activate 3
pop temp 0
push constant 0
return
function LifeGrid.selectCell 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call LifeGrid.getCellState 3
not
call Screen.setColor 1
pop temp 0
push argument 1
push this 0
call Math.multiply 2
push argument 2
push this 0
call Math.multiply 2
push argument 1
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
push argument 2
push this 0
call Math.multiply 2
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
push argument 2
push this 0
call Math.multiply 2
push argument 1
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
push argument 2
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
push argument 2
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
push argument 1
push this 0
call Math.multiply 2
push argument 2
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push this 0
call Math.multiply 2
push argument 2
push constant 1
add
push this 0
call Math.multiply 2
push constant 1
sub
push argument 1
push this 0
call Math.multiply 2
push argument 2
push this 0
call Math.multiply 2
call Screen.drawLine 4
pop temp 0
push constant 0
return
function LifeGrid.calcNextStepGrid 5
push argument 0
call LifeGrid.getWidth 1
pop local 2
push argument 0
call LifeGrid.getHeight 1
pop local 3
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push local 2
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push local 3
lt
not
if-goto WHILE_END1
push argument 0
push local 0
push local 1
call LifeGrid.nextCellState 3
pop local 4
push argument 1
push local 0
push local 1
push local 4
call LifeGrid.setState 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function LifeGrid.copyCellStates 5
push argument 1
call LifeGrid.getWidth 1
pop local 2
push argument 1
call LifeGrid.getHeight 1
pop local 3
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push local 2
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push local 3
lt
not
if-goto WHILE_END1
push argument 1
push local 0
push local 1
call LifeGrid.getCellState 3
pop local 4
push argument 0
push local 0
push local 1
push local 4
call LifeGrid.setState 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function LifeGrid.nextCellState 3
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call LifeGrid.countNeighbors 3
pop local 0
push pointer 0
push argument 1
push argument 2
call LifeGrid.getCellState 3
pop local 1
push local 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 2
eq
push local 0
push constant 3
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 2
goto IF_END1
label IF_FALSE1
push constant 0
pop local 2
label IF_END1
label IF_FALSE0
push local 1
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 2
goto IF_END3
label IF_FALSE3
push constant 0
pop local 2
label IF_END3
label IF_FALSE2
push local 2
return
function LifeGrid.countNeighbors 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 1
neg
pop local 0
label WHILE_EXP0
push local 0
push constant 2
lt
not
if-goto WHILE_END0
push constant 1
neg
pop local 1
label WHILE_EXP1
push local 1
push constant 2
lt
not
if-goto WHILE_END1
push local 0
push constant 0
eq
push local 1
push constant 0
eq
and
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 0
add
push constant 1
neg
gt
push argument 2
push local 1
add
push constant 1
neg
gt
and
push argument 1
push local 0
add
push this 1
lt
and
push argument 2
push local 1
add
push this 2
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
push local 0
add
push argument 2
push local 1
add
call LifeGrid.getCellState 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push constant 1
add
pop local 2
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
return
